<!doctype html>
<html lang="en">
    <head>
        <title>Want To Scold Someone</title>
        <!-- Meta's -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--impoting css-->
        <link rel="stylesheet/less" type="text/css" href="../css/common.less">
    </head>
    <body>
        <section class="section1">
            <div class="wrapper">
                <div class="carry">Carry</div>
                <div class="your">your</div>
                <div class="message">Message</div>
            </div>
            <div class="wrapper">
                <div class="sub-text">through us</div>
            </div>
            <div class="button_row">
                <div class="buttons">
                    <div class="button_row">
                        <div class="button1"><a href="#"><div>Do you have a message</div></a></div>
                        <div class="button2"><a href="#"><div>Want to know why</div></a></div>
                    </div>
                </div>
            </div>
        </section>
        <script src="../js/less.min.js" type="text/javascript"></script>
        <script src="../js/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="../js/bootstrap.min.js" type="text/javascript"></script>
    </body>
    
</html> 